<section class="hero is-light is-fullheight">
    <div class="hero-body">
        <div class="container">
            <div class="columns is-centered">
                <div class="column is-7-tablet is-6-desktop is-5-widescreen">
                    <form class="box" method="POST" action="/auth">
                        <div class="field has-text-centered title is-3 m-3">
                            Movie Rater
                        </div>
                        {{#if loginFailed}}
                        <div class="field">
                            <div class="notification is-danger">
                                Unable to Login, please check your credentials
                            </div>
                        </div>
                        {{/if}}
                        <div class="field">
                            <label for="email" class="label">Email</label>
                            <div class="control has-icons-left">
                                <input type="email" name="email" {{#if loginFailed}}class="input is-danger" {{else}}
                                    class="input" {{/if}} placeholder="e.g. john@mymail.com" required />
                                <span class="icon is-small is-left">
                                    <i class="fa fa-envelope"></i>
                                </span>
                                {{#if loginFailed}}
                                <p class="help is-danger">
                                    Email may be incorrrect
                                </p>
                                {{/if}}
                            </div>
                        </div>
                        <div class="field">
                            <label for="password" class="label">Password</label>
                            <div class="control has-icons-left">
                                <input type="password" {{#if loginFailed}}class="input is-danger" {{else}} class="input"
                                    {{/if}} placeholder="*********" required name="password">
                                <span class="icon is-small is-left">
                                    <i class="fa fa-lock"></i>
                                </span>
                                {{#if loginFailed}}
                                <p class="help is-danger">
                                    Password may be incorrect
                                </p>
                                {{/if}}
                            </div>
                        </div>
                        <div class="field is-grouped is-grouped-centered">
                            <p class="control">
                                <button type="submit" class="button is-primary">
                                    Login
                                </button>
                            </p>
                            <p class="control">
                                <button type="submit" class="button is-light">
                                    Register
                                </button>
                            </p>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>